header nav ul li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
}
header nav ul li a {
  color: rgb(0, 4, 7);
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
}
#nav {
  text-align: right;
  padding-right: 7%;
}
a:hover {
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 8px;
  background-color: rgb(40, 166, 40);
}
header {
  position: fixed;
  width: 100%;
}

header {
  background-color: cadetblue;
}
.container {
  margin-top: 20px;
  margin: 40px;
}
img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 100px;
}
.img {
  display: inline-block;
  margin-left: 80px;
}
.info {
  display: inline-block;
  margin-left: 20%;
}
p {
  font-weight: bolder;
  padding-top: 10px;
  color: darkslategrey;
}
h2 {
  padding-left: 45px;
  color: darkslategrey;
}
* {
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  text-shadow: 0.5px 0.5px 0.5px black;
}
.career {
  color: mediumvioletred;

  background-color: rgb(233, 233, 216);
  text-transform: capitalize;
  text-decoration: underline;
}
#angular {
  color: rgb(199, 5, 66);
  font-size: larger;
}
#list2 {
  color: rgb(2, 51, 51);
  background-color: rgb(203, 194, 98);
}

h3 {
  color: mediumvioletred;

  background-color: cornsilk;

  text-decoration: underline;
}
.lists {
  margin-top: 8px;
  word-spacing: 4px;
  list-style-type: circle;
  background-color: rgb(211, 217, 220);
}
#sp1 {
  text-transform: uppercase;
  word-spacing: 8px;
}
#summary1 li {
  list-style-type: none;
  margin-left: 40px;
}
.summary ul li::before {
  content: "✍️";
  padding-right: 20px;
}
.summary ul li::selection {
  background-color: lightcoral;
}
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 20px;
}
#techh2 {
  letter-spacing: 1px;
  text-decoration: underline;
  color: darkslategrey;
}
table {
  margin-left: 27%;
  box-shadow: 10px 12px 12px black;
  width: 50%;
}
#educationh2 {
  text-decoration: underline;

  color: darkslategrey;
}
.educationTh {
  background-color: darkgray;
}

footer{
  margin-left: 70%;
}
#i1{
  margin-left: 10px;
}
#i3{
  margin-left: 10px;
}
#i2{
  margin-left: 10px;
}
#i4{
  margin-left: 10px;
}

